.search {
    padding: 10px 0;
    &__input {
        width: 60%;
        display: inline-block;
    }

    &__size-img {
        padding: 10px 0;
        text-align: start;
        display: flex;
        align-items: center;
    }
}